@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Quicksand:wght@300;400;500;600;700&display=swap");

.home-section{
    background-color:aliceblue; 
}
.home{   
     display:flex;
      
}
.view-older-post{
    display:flex;
    justify-content: center;
    margin-top: 6rem;
    padding-bottom:6rem;
}
.view-older-post p{
    padding-right: 1rem;
    color: blue;
    cursor: pointer;
}
.down-icon{
    margin-top: 0.1rem;
}

