@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@200;600&family=Dancing+Script:wght@400;500;600;700&family=Fraunces:opsz,wght@9..144,700;9..144,900&family=Heebo:wght@100;200;300;400;500;600;700&family=Kumbh+Sans:wght@100;200;300;400;500;600;700&family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.form-body {
  width: 368px;
  height: 748px;
  background: #fcfcfd;
  box-shadow: 0px 2px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 16px;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  text-align: center;
  padding: 20px;
}

.form-body > h2 {
  margin-bottom: 50px;
}

.form-body > label {
  display: block;
  font-family: "Heebo";
  font-size: 14px;
  margin-top: 20px;
  text-align: left;
  margin-left: 20px;
}

.form-body > input {
  width: 320px;
  height: 48px;
  font-family: "Heebo";
  font-size: 14px;
  border: 1px solid #bfbfbf;
  border-radius: 4px;
  padding: 5px;
}

.form-body > textarea {
  width: 320px;
  height: 440px;
  font-family: "Heebo";
  border-radius: 4px;
  border: 1px solid #bfbfbf;
  padding: 10px;
}

.form-body > button {
  display: block;
  padding: 12px 16px;
  background-color: #175cd3;
  border-style: none;
  color: #fff;
  position: relative;
  top: 20px;
  border-radius: 5px;
  left: 170px;
  cursor: pointer;
}


/** === Join Modal ==*/

.joinedModal {
    display: flex;
    flex-direction: column;
    padding: 48px;
    gap: 40px;
    position: relative;
    width: 441px;
    height: 366px;
    background: #FFFFFF;
    border-radius: 24px;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
}

.joinedBody {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.joinedBody .joinedhead {
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 140%;
color: #21334F;
}

.joinedBody .joinedP {
width: 345px;
height: 40px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;

text-align: center;


color: #101828;
}

.button {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.joinedModal .icon {
color: #34A853;
font-size: 3rem;
position: relative;
left: 140px;
}